$fonts: Lucida Grande, Lucida Sans, Arial, sans-serif;
$total-height: 600px;
$border: 1px solid black;
$title-font-size: 28px;
$day-hover-content: '◄';
$day-active-background: rgba(0,0,0,0.2);
$day-font-size: 1em;
$width: 1200px;
$barBorder: 2px solid black;
$bar-color: #cd433a;

@mixin display-flex($direction) {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex($flex) {
  -webkit-flex: $flex;
  flex: $flex;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin user-select($select) {
  -webkit-touch-callout: $select;
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}

html, body {
  width: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  font-family: $fonts;
}

#content {
  max-width: $width;
  height: $total-height;
  margin: 0 auto  ;
  margin-top: 2em;
}

.cal {
  @include user-select(none);
  box-sizing: content-box;
  border: $border;
  height: 100%;
}

.cal-view {
  @include display-flex(column);
  height: 86%;
  width: 100%;
}

.cal-view-week {
  .cal-week {
    height: auto;
    border-left: $border;
    .cal-day {
      height: auto;
    }
  }
}

.cal-view-day {
  height: 90%;
  .cal-day {
    border-left: $border;
    height: 100%;
  }
}

.cal-month {
  @include display-flex(column);
  border-left: $border;
  height: 100%;
}

.cal-header {
  @include display-flex(row);
  border: $border;
  height: 10%;

  > div {
    @include flex(1);
  }

  .cal-title {
    @include flex(2);
    text-align: center;
  }

  p {
    display: inline-block;
    margin: 0;
    font-size: $title-font-size;
    line-height: $total-height * .10;
  }

  .cal-view-options {
    font-size: $title-font-size;
    text-align: end;

    p {
      position: relative;
      line-height: $total-height * .10;
      cursor: pointer;
      font-size: 1.2em;
      margin-right: 6px;
      &:last-child {
        margin-right: 12px;
      }
    }
  }
}

.cal-button {
  * {
    &:hover {
      opacity: .5;
    }
    &:active {
      opacity: 1;
    }
  }
}

.cal-nav-buttons {
  position: relative;
  height: auto;
  text-align: start;

  > img {
    @include transition(opacity 0.1s ease);
    position: relative;
    cursor: pointer;
    max-height: inherit;
    margin-top: 3px;
  }
}

.cal-day-header {
  @include display-flex(row);
  height: 4%;

  div {
    @include flex(1);
    border-right: $border;
    border-bottom: $border;
    text-align: center;

    &:first-child {
      border-left: $border;
    }
  }

  p {
    display: inline-block;
    margin: 0;
    font-size: $day-font-size;
    padding: 4px;
  }
}

.cal-week {
  @include display-flex(row);
  @include flex(1);
  width: 100%;
}

.cal-day {
  @include flex(1 1 auto);
  border-right: $border;
  border-bottom: $border;
  width: 100%;
  height: auto;

  span {
    position: relative;
    display: block;
    margin: .3em .4em;
    font-size: $day-font-size;
    z-index: 1;
    float: left;
    color: #000;
  }

  > span {
    margin-right: 100%;
  }

  &:hover > span::after {
    content: $day-hover-content;
  }
}

.cal-not-current-month {
  > span {
    color: rgb(171, 171, 171);
  }
}

.cal-today {
  background-color: rgba(0,0,0, 0.1);
}

@media screen and (max-width: 630px) {
  #content {
    margin: 0;
  }
  .cal-view {
    height: 76%;
  }
  .cal-header  {
    height: 20%;
    width: 100%;
    display: inline-block;
  }
  .cal-nav-buttons {
    position: relative;
    text-align: center;

    > img {
      position: relative;
    }

    > img:nth-child(1), > img:nth-child(2), > img:nth-child(3) {
      left: 0;
      margin: 3px 12px 0 12px;
    }
  }

  .cal-view-options {
    display: none;
  }
}

@media screen and (max-width: 515px) {
  .cal-header p {
    /*font-size: 18px;*/
  }

}
