$fonts: Lucida Grande, Lucida Sans, Arial, sans-serif;
$calendar-header-height: 3em;
$week-header-height: 2em;
$calendar-view-height: 36em;
$button-height: 2.5em;
$border: 1px solid black;
$title-height: 1.5em;
$title-font-size: 28px;
$day-hover-content: '◄';
$day-active-background: rgba(0,0,0,0.2);
$day-font-size: 1em;
$width: 1200px;
$barBorder: 2px solid black;

$bar-color: #cd433a;

@mixin display-flex($direction) {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex($flex) {
  -webkit-flex: $flex;
  flex: $flex;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin user-select($select) {
  -webkit-touch-callout: $select;
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}

html, body {
  width: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  font-family: $fonts;
}

#content {
  max-width: $width;
  margin: 0 auto  ;
  margin-top: 2em;
}

.cal {
  @include user-select(none);
  box-sizing: content-box;
  border: $border;
  height: $calendar-header-height + $week-header-height + $calendar-view-height;
}

.cal-view {
  height: $calendar-view-height + $week-header-height;
  width: 100%;
}

.cal-view-week {
  .cal-week {
    height: $calendar-view-height;
    border-left: $border;
    .cal-day {
      height: $calendar-view-height;
    }
  }
}

.cal-view-day {
  .cal-day {
    border-left: $border;
    height: 100%;
  }
}

.cal-month {
  @include display-flex(column);
  height: $calendar-view-height;
  border-left: $border;
}

.cal-header {
  @include display-flex(row);
  height: $calendar-header-height;
  border: $border;


  > div {
    @include flex(1);
    text-align: center;
  }

  .cal-title {
    @include flex(2);
  }

  p {
    display: inline-block;
    margin: 0;
    line-height: $title-height;
    height: $title-height;
    font-size: $title-font-size;
  }

  .cal-view-options {
    font-size: $title-font-size;
    text-align: end;
    p {
      cursor: pointer;
      font-size: 1.2em;
      margin-right: .5em;
      &:last-child {
        margin-right: 1em;
      }
    }
  }
}

.cal-button {
  * {
    &:hover {
      opacity: .5;
    }
    &:active {
      opacity: 1;
    }
  }
}

.cal-nav-buttons {
  position: relative;
  height: $calendar-header-height;

  > img {
    @include transition(opacity 0.1s ease);
    position: absolute;
    cursor: pointer;
    height: $button-height;
    margin-top: 3px;

    //change this.
    &:nth-child(1) {
      left: 1em;
    }
    &:nth-child(2) {
      left: 5em;
    }
    &:nth-child(3) {
      left: 9em;
    }
  }
}

.cal-day-header {
  @include display-flex(row);
  height: $week-header-height;

  div {
    @include flex(1);
    border-right: $border;
    border-bottom: $border;
    text-align: center;


    &:first-child {
      border-left: $border;
    }
  }

  p {
    display: inline-block;
    height: $week-header-height;
    line-height: $week-header-height;
    margin: 0;
    font-size: $day-font-size;
  }
}

.cal-week {
  @include display-flex(row);
  @include flex(1);
  width: 100%;
  height: $calendar-view-height / 6;
}

.cal-day {
  @include flex(1 1 auto);
  border-right: $border;
  border-bottom: $border;
  width: 100%;
  height: $calendar-view-height / 6;

  span {
    position: relative;
    display: block;
    margin: .3em .4em;
    font-size: $day-font-size;
    z-index: 1;
    float: left;
    color: #000;
  }

  > span {
    margin-right: 100%;
  }

  &:hover > span::after {
    content: $day-hover-content;
  }
}

.cal-not-current-month {
  > span {
    color: rgb(171, 171, 171);
  }

  &:active > span {
    color: #fff;
  }
}

.cal-today {
  background-color: rgba(0,0,0, 0.1);
}

@media(max-width: 630px) {
  .cal {
    height: 44em;
  }
  .cal-header {
    height: 6em;
    width: 100%;
    display: inline-block;
  }
  .cal-nav-buttons {
    position: relative;

    > img {
      position: relative;
    }

    > img:nth-child(1), > img:nth-child(2), > img:nth-child(3) {
      left: 0;
      margin: 3px 12px 0 12px;
    }
  }

  .cal-view-options {
    display: none;
  }
}

@media(max-width: 515px) {
  .cal-header p {
    /*font-size: 18px;*/
  }

}
